@import '/src/styles/variables.scss';

:host {
  display: block;
}

.show {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .actions, .title {
    background-color: rgba($color-dark, 0.75);
    color: $color-light;
    text-align: center;
  }

  .actions {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    button {
      flex: 1;
      border-radius: 0;

      &:focus {
        box-shadow: none;
      }
    }
  }

  &:hover .actions {
    opacity: 1;
  }
}