<div id="menu">
  <ul class="list-group">
    <li class="list-group-item" routerLinkActive="active" title="Search">
      <a routerLink="/shows/search"><i class="fa fa-magnifying-glass"></i></a>
    </li>
    <li class="list-group-item" routerLinkActive="active" title="Saved">
      <a routerLink="/shows/saved"><i class="fa fa-bookmark"></i></a>
    </li>
    <li 
      title="Detail"
      class="list-group-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{paths: 'subset', queryParams: 'ignored', fragment: 'ignored', matrixParams: 'ignored'}">
      <a [routerLink]="['/shows/detail', (show$ | async)?.id || 1]"><i class="fa fa-list"></i></a>
    </li>
  </ul>
</div>